accelerate>=1.9
albumentations>=2.0
clean-fid>=0.1
clip>=0.2
datasets>=4.0
deep_translator>=1.11.4
diffusers>=0.34
einops>=0.8
fairscale>=0.4
fasttext>=0.9.3
ffmpeg-python>=0.2
ftfy>=6.3
google-generativeai>=0.8.5
ipython>=8.12
jsonmerge>=1.9
librosa>=0.11
matplotlib>=3.10
moviepy>=2.2
nltk>=3.9.1
numexpr>=2.11
numpngw>=0.1
numpy>=2.2.6,<2.3.0
omegaconf>=2.3
openai-whisper>=20250625
open-clip-torch>=2.32
opencv-python>=4.12
pandas>=2.3
peft>=0.16
pillow>=11.3
Pillow>=11.3.0
protobuf>=5.29.5
pydantic>=2.11
pytorch-lightning>=2.5
pyyaml>=6.0
regex>=2024.11
requests>=2.32
resize-right>=0.0.2
safetensors>=0.5
scikit-image>=0.20
scikit-learn>=1.7
scipy>=1.16
timm>=1.0.15,<2.0
torch==2.6.0
torchdiffeq>=0.2.5
torchsde>=0.2.6
torchvision==0.21.0
tqdm>=4.67
transformers>=4.53
typing-extensions>=4.14
validators>=0.35
xformers==0.0.29.post2
