accelerate==1.9.0
albumentations==2.0.8
clean_fid==0.1.35
clip==0.2.0
datasets==4.0.0
diffusers==0.34.0
einops==0.8.1
fairscale==0.4.13
ffmpeg_python==0.2.0
ftfy==6.3.1
googletrans==3.1.0a0
ipython==8.12.3
jsonmerge==1.9.2
librosa==0.11.0
matplotlib==3.10.3
moviepy==2.2.1
numexpr==2.11.0
numpngw==0.1.4
numpy==2.2.6
omegaconf==2.3.0
openai_whisper==20250625
open-clip-torch==2.32.0
opencv_python==4.12.0.88
pandas==2.3.1
pillow==11.3.0
protobuf==6.31.1
pydantic==2.11.7
pytorch_lightning==2.5.2
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.4
resize_right==0.0.2
safetensors==0.5.3
scikit_learn==1.7.1
scikit-image==0.25.2
scipy==1.16.0
timm==1.0.17
torch==2.6.0
torchdiffeq==0.2.5
torchsde==0.2.6
torchvision==0.21.0
tqdm==4.67.1
transformers==4.53.2
typing_extensions==4.14.1
validators==0.35.0
xformers==0.0.29.post2
